#about-pic {
  justify-content: justify;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  padding: 10px;
  margin-top: 3rem;
}

/* this is my name below image */
.aboutMyName {
  text-decoration: none;
  color: black;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: dashed;
}

a:active {
  text-decoration: none;
  color: black;
}

.aboutMyName:hover {
  font-weight: bold;
}
/* this is image and text  */
.aboutName {
  text-decoration: none;
  color: black;
  font-size: 18px;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: dashed;
}

a:active {
  text-decoration: none;
  color: black;
}

.homeContainer {
  justify-content: center;
  text-align: center;
  min-height: calc(100vh - 50px - 110px);
}

.aboutPageTopDescription p {
  margin-top: 8em;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: row;
  padding: 20px;
  border: 8px solid #6db7ed;
  border-radius: 5px;
  display: inline-block;
  /* overflow-wrap: break-word; */
  word-wrap: break-word;
  hyphens: auto;
  background-color: white;
  margin-left: 20%;
  margin-right: 20%;
}

@media screen and (max-width: 900px) and (min-width: 600px),
  (min-width: 1100px) {
  img#about-pic {
    font-size: 20px;
    padding: 30px;
    border: 4px solid #6db7ed;
    background: #000000;
  }
}

@media screen and (min-width: 600px), (max-width: 900px) {
  p.aboutPageTopDescription {
    padding: 20px;
    border: 4px solid #6db7ed;
    font-size: 3vw;
    margin-top: 8em;
  }
  .aboutName {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  p.aboutPageTopDescription {
    font-size: 2.5vw;
  }
  .aboutName {
    font-size: 3vw;
    color: black;
  }
  .homeContainer {
    margin-top: 4rem;
  }
  #about-pic {
    width: 50%;
    height: auto;
  }

  .aboutPageTopDescription p {
    margin-right: 5em;
    width: 50%;
    height: auto;
  }
}
