#about-pic {
  justify-content: center;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  padding: 10px;
  margin-top: 4rem;
}

/* this is my name below image */
.aboutMyName {
  text-decoration: none;
  color: black;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: dashed;
}

a:active {
  text-decoration: none;
  color: black;
}
/* this is image and text  */
.aboutName {
  /* margin-left: 6em; */
  text-decoration: none;
  color: black;
  font-size: 3vh;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: dashed;
}

a:active {
  text-decoration: none;
  color: black;
}

.aboutPageContainer {
  justify-content: center;
  margin-right: 481px;
  margin-left: 4em;
  text-align: center;
}

.aboutPageTopDescription p {
  margin-top: 8em;
  flex-wrap: wrap;
  /* width: 481px; */
  text-align: justify;
  flex-direction: row;
  padding: 20px;
  border: 8px solid #6db7ed;
  display: inline-block;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.linkedin-logo:hover {
  opacity: 0.7;
  transform: scale(1.1);
}

.github-logo {
  height: 35px;
  width: 35px;
  margin: 5px;
  border-radius: 10%;
  margin-top: 5.5px;
}

.github-logo:hover {
  opacity: 0.7;
  transform: scale(1.15);
}

/* @media screen and (max-width: 900px) and (min-width: 600px),
  (min-width: 1100px) {
  img#about-pic {
    font-size: 20px;
    padding: 30px;
    border: 8px solid #6db7ed;
    background: #000000;
  }
}

@media screen and (min-width: 600px), (min-width: 1100px) {
  p.aboutPageTopDescription {
    padding: 20px;
    border: 8px solid #6db7ed;
  }
}

@media screen and (min-width: 601px) {
  p.aboutPageTopDescription {
    font-size: 3vw;
    padding: 10px;
    border: 8px solid #6db7ed;
  }
}

@media screen and (max-width: 600px) {
  p.aboutPageTopDescription {
    font-size: 2.5vw;
  }
  .aboutName {
    font-size: 2vw;
    color: pink;
  }
} */
