body {
  background-image: url('../images/coffeeImageNOW.png');
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  z-index: -1;
  font-family: 'Raleway', sans-serif;
  background-size: cover;
}

/* mobile */
@media only screen and (max-width: 600px) {
  body {
    background-size: cover;
  }
}

/* desktop */
@media only screen and (min-width: 600px) {
}
