body {
  background-image: url('../images/coffeeImageNOW.png');
  /* background-repeat: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  z-index: -1;
}
