.contactForm {
  margin: 16px auto;
  display: flex;
  flex-direction: column;
  width: 35%;
  font-family: inherit;
  flex: 1;
  margin-top: 2em;
  margin-left: 3em;
}

.personalForm input {
  width: 95%;
  margin: 8px 0;
  line-height: 2;
  padding: 4px 8px;
  border-radius: 5px;
  font-size: inherit;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  -webkit-appearance: none;
  border: none;
}
.contactForm textarea,
input:focus {
  outline: none;
}

.textAreaForm {
  margin-top: 1em;
  padding: 1px 8px;
  border-radius: 5px;
  font-family: 'Raleway', sans-serif;
  font-size: inherit;
  resize: none;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  -webkit-appearance: none;
  border: none;
}

.textArea::-webkit-scrollbar {
  display: none;
}

.contactButtonForm {
  margin: 16px auto;
  width: 30%;
  line-height: 2;
  border-radius: 5px;
  color: white;
  background-color: rgb(65, 163, 234);
  border: white;
  opacity: 0.8;
  transition: opacity 0.4s ease-in-out;
  display: flex;
  cursor: pointer;
  outline: none;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.contactButtonForm a {
  width: 20%;
  justify-content: center;
  text-decoration: none;
}

.contactButtonForm:active {
  color: white;
  text-decoration: none;
}

.contactButtonForm:hover {
  opacity: 1;
}

.contactButtonForm:visited {
  color: white;
  text-decoration: none;
}

.contactGreeting {
  color: black;
  margin-top: 8em;
  margin-left: 3em;
  font-size: 1.5em;
  text-align: justify;
}

@media (max-width: 768px) {
  .contactForm {
    width: 85%;
  }
  .personalForm input {
    width: 97%;
  }
  .contactButtonForm {
    width: 40%;
  }
  .contactButtonForm img {
    width: 30%;
    margin: auto;
  }
  .contactGreeting {
    color: black;
    margin-top: 8em;
    margin-left: 3em;
    font-size: 1.5em;
    text-align: justify;
  }
}

@media (max-width: 414px) {
  .personalForm input {
    width: 95%;
  }

  .contactButtonForm {
    width: 40%;
  }
  .contactButtonForm img {
    width: 30%;
    margin: auto;
  }
  .contactForm {
    margin-right: 1em;
  }
}

a:-webkit-any-link {
  color: white;
}

.containerContact {
  min-height: calc(100vh - 50px - 110px);
}
