.resumeButton {
  color: whitesmoke;
  cursor: pointer;
  margin: 0.5em;
  height: 100%;
  padding: 12px;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.2s ease-out;
  box-sizing: border-box;
  margin-right: 1em;
  background-color: #6db7ed;
  border-radius: 5px;
}

.containerFooter {
  display: flex;
  flex-direction: row;
  line-height: 2;
  width: 100%;
  background-color: #303030;
  color: whitesmoke;
  margin-top: 48px;
  justify-content: space-around;
  bottom: 0;
  position: fixed;
}

.containerFooterLinks a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: 700;
}

@media (max-width: 414px) {
  /* .copyRight {
    display: none;
  } */
  .resumeButton {
    display: none;
  }
  .containerFooter {
    font-size: 12px;
  }
  .footer a {
    margin: 0 !important;
  }
}
