.resumeButton {
  color: whitesmoke;
  cursor: pointer;
  margin: 0.5em;
  /* height: 95%; */
  padding: 0.4em;
  text-decoration: none;
  font-size: 2vw;
  transition: background-color 0.2s ease-out;
  box-sizing: border-box;
  margin-right: 1em;
  background-color: #6db7ed;
  border-radius: 5px;
  bottom: 0.1em;
  margin-right: 1em;
}

.menuFooter {
  display: flex;
  flex-direction: row;
  line-height: 2;
  width: 100%;
  background-color: #303030;
  color: whitesmoke;
  margin-top: 48px;
  justify-content: space-around;
  bottom: 0;
  position: fixed;
}

.containerFooterLinks a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: 700;
}

/* .footerLinks a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: 700;
} */
/* 
i {
  margin: 8px;
  color: whitesmoke;
}

.fab fa-github fa-lg {
  z-index: 10;
  size: 100%;
} */

#githubLinks {
  width: 2px !important;
  height: auto;
}

@media (max-width: 414px) {
  .resumeButton {
    display: none;
  }
  .containerFooter {
    font-size: 12px;
  }
  .footer a {
    margin: 0 !important;
  }
}
