.resumeButton {
  color: whitesmoke;
  background-color: #6db7ed;
  cursor: pointer;
  text-decoration: none;
  font-size: 2vw;
  transition: background-color 0.2s ease-out;
  box-sizing: border-box;
  /* margin-right: 1em; */

  border-radius: 5px;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); */
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 1em;
}

.resumeButton:hover {
  background-color: black;
  color: white;
}

.menuFooter {
  display: flex;
  flex-direction: column;
  align-items: center;

  line-height: 2;
  width: 100%;
  background-color: #303030;
  color: whitesmoke;
  margin-top: 48px;
  justify-content: space-around;
  bottom: 0;
}

@media (max-width: 414px) {
  .resumeButton {
    /* display: none; */

    height: 3px;
    margin: 0;
  }
  .containerFooter {
    font-size: 4px;
  }
  .footer a {
    margin: 0 !important;
  }
}
