.containerNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(109, 183, 237);
  padding: 0 30px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  box-sizing: border-box;
}

.headerTitle {
  color: whitesmoke;
  font-size: 18px;
  padding: 15px;
  margin-right: 5rem;
}

.menu {
  float: right;
  display: flex;
  flex-direction: row;
}
ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
}

.menu a {
  color: whitesmoke;
  cursor: pointer;
  margin: 0;
  /* width: 50%; */
  height: 100%;
  padding: 15px;
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.2s ease-out;
  box-sizing: border-box;
  margin-right: 1em;
}
.menu a:hover {
  background-color: slategrey;
  transition: background-color 0.2s ease-out;
}

.current:hover {
  background-color: rgb(61, 117, 222) !important;
}

.h-menu {
  color: white;
}
@media (max-width: 400px) {
  .menu li {
    display: block;
  }

  .inline li:first-of-type {
    margin-top: 50px;
  }

  .h-menu {
    position: fixed;
    right: 1rem;
    top: 1rem;
    bottom: 1em;
    display: inline-block;
  }
}

@media (min-width: 769px) {
  .h-menu {
    display: none;
  }
}

@media (max-width: 768px) {
  .containerNav {
    height: 5%;
  }
  .menu {
    display: none;
  }
}

@media (max-width: 414px) {
  .containerNav {
    height: 8%;
  }
  .headerTitle {
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  .containerNav {
    padding: 0 16px;
  }
}
