.containerNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #6db7ed;
  padding: 0 30px 0 30px;
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  z-index: 10;
  box-sizing: border-box;
}

.headerTitle {
  color: whitesmoke;
  font-size: 18px;
  padding: 15px;
  margin-right: 5rem;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
}

.menu a {
  color: whitesmoke;
  cursor: pointer;
  margin: 0;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-size: 18px;
  /transition: background-color 0.2s ease-out;
  /box-sizing: border-box;
  display: block;
}

.menu a:hover {
  background: slategrey;
  /* transition: background-color 0.2s ease-out; */
}

.current:hover {
  background-color: rgb(61,  117,  222) !important;
}

.h-menu {
  color: whitesmoke;
  cursor: pointer;
}

/* mobile */
@media only screen and (max-width: 600px) {
  ul.menu.hide {
    display: none;
  }
  .menu {
    display: block;
    top: 40px;
    right: 0px;
    position: absolute;
    padding-left: 0;
    background: #6db7ed;
  }
    .h-menu {
    position: fixed;
    right: 1rem;
    top: 1rem;
    bottom: 1em;
    display: inline-block;
  }
}

/* desktop */
@media only screen and (min-width: 600px) {
  .h-menu {
    display: none;
  }

  .menu {
    display: flex;
    flex-direction: row;
  }
}
