.projectContainer {
  margin-top: 4em;
  flex-wrap: wrap;
  justify-content: center;
  width: 35%;
  padding-bottom: 3em;
  margin-left: 4em;
  flex-direction: column;
  padding: 10px;
  padding-right: 1em;
  border: 8px solid #6db7ed;
}

.projectContainer p {
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  text-align: justify;
}

.about-project {
  word-wrap: break-word;
  margin-top: 6em;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 3em;
  flex-direction: column;
  margin-left: 3em;
}

.projectName {
  margin-top: 3em;
  color: black;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: dashed;
}

a:active {
  text-decoration: none;
}

p.projectDescription {
  text-align: justify;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  text-align: justify;
}

img.animatedGif {
  width: 100%;
  height: auto;
  margin-bottom: 2em;
}

@media screen and (max-width: 600px) {
  .projectContainer {
    font-size: 12px;
    width: 40%;
    height: auto;
  }
}
.animatedGif {
  width: 50%;
  height: auto;
}

@media screen and (min-width: 601px) and (max-width: 1000px) {
  .projectContainer {
    font-size: 16px;
    /* padding: 10px; */
    border: 6px solid #6db7ed;
    margin-right: 3em;
  }
  .animatedGif {
    width: 50%;
    height: auto;
  }
}

@media screen and (max-width: 600px) {
  .projectContainer {
    font-size: 3vw;
    padding: 2%;
    border: 2px solid #6db7ed;
    margin-top: 7em;
    margin-left: 2em;
  }
}
