button.resumeButotn {
  margin: 12px auto;
  line-height: 3;
  border-radius: 5px;
  color: white;
  background-color: rgb(65, 163, 234);
  border: #fbfbfb;
  cursor: pointer;
  outline: none;
  transition: transform 0.3s;
  padding: 1px 10px;
  font-size: 16px;
}

.resumeButton:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}
