.skillsContainer {
  min-height: calc(100vh - 40px - 110px);
  margin-top: 10em;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  /* width: 100%; */
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 5px;
  background-color: white;
  margin: 1em;
  flex: 1;
  padding: 1em;
  /* border: 4px solid #6db7ed; */
  opacity: 0.8;
}

.skillsDescription {
  margin-bottom: 3em;
  color: grey;
  font-size: 1em;
  padding: 1em;
  text-align: center;
}

.card:hover {
  opacity: 1;
}

.skillsList {
  text-align: center;
  flex-direction: column;
}

.skillsList li {
  margin: 0.5em;
}

.titleInfo {
  font-size: 22px;
}

.h4 {
  text-align: center;
}

/* mobile */
@media only screen and (max-width: 600px) {
  .skillsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    margin-left: 2%;
    margin-top: 6em;
    height: 50%;
  }
}

/* desktop */
@media only screen and (min-width: 601px) {
  /* .card {
    height: 60%;
  } */
  .skillsContainer {
    margin-left: 2%;
    margin-right: 2%;
  }
}
