.socialLinks {
  float: right;
  flex-direction: row;
  width: 10%;
  justify-content: space-evenly;
  margin: 1em;
  margin-right: 481px;
}

.socialLinks img:hover {
  transform: scale(1.1);
}

.socialLinks img {
  width: 2vw;
  cursor: pointer;
  transition: transform 0.3s;
  margin-right: 0.9em;
}

/* .SocialLinks_socialLinks__1kz-F img {
  justify-content: space-around;
  margin-left: 3em;
  flex-direction: row;
} */
